{% extends "template.html" %}
{% block conteudo %}

<div class="card">

    <div class="card-body">

        <h2>Adicionar jogo ao catálogo</h2>

        <p>
            Adicione um jogo que ainda não existe no GameHub.
        </p>

        <form
            method="POST"
            action="{{ url_for('criar') }}"
            enctype="multipart/form-data">

            {{ form.csrf_token }}

            <div class="form-group">

                {{ form.nome.label }}

                {{ form.nome(class="form-control") }}

            </div>

            <div class="form-group">

                {{ form.categoria.label }}

                {{ form.categoria(class="form-control") }}

            </div>

            <div class="form-group">

                {{ form.console.label }}

                {{ form.console(class="form-control") }}

            </div>

            <div class="form-group">

                <label for="arquivo">
                    Capa do jogo
                </label>

                <input
                    type="file"
                    name="arquivo"
                    id="arquivo"
                    class="form-control">

            </div>

            {{ form.salvar(class="btn btn-primary") }}

            <a
                href="{{ url_for('index') }}"
                class="btn btn-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>

{% endblock %}